@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./assets/fonts/caviardreams-webfont.woff2') format('woff2'),
        url('./assets/fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('./assets/fonts/bebasneue-webfont.woff2') format('woff2'),
        url('./assets/fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'times_sans_serifregular';
    src: url('./assets/fonts/times-sans-serif-webfont.woff2') format('woff2'),
        url('./assets/fonts/times-sans-serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: times_sans_serifregular;
    font-stretch: extra-expanded;
}

h2 {
    font-family: times_sans_serifregular;
    font-stretch: extra-expanded;
    font-size: 26px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

a {
    color: black;
    text-decoration: none;
}

b {
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 34px;
        padding-left: 5px;
        padding-right: 5px;
    }

    h2 {
        font-size: 22px;
        padding-left: 5px;
        padding-right: 5px;
    }

    h3 {
        font-size: 22px;
        padding-left: 5px;
        padding-right: 5px;
    }

    p {
        padding-left: 5px;
        padding-right: 5px;
    }

    .title {
        font-size: 34px;
    }
}