body {
/*	background-image: url("background.png");
*/	
	background-color: #190C40;
	color: white;
}

h1 {
	position: relative;
	text-align: right;
	padding-right: 20%;
}

h2 {
	position: relative;
	text-align: left; 
	padding-left: 20%;
	padding-top: 25px;
}

button {
	padding-bottom: 20px;
}
