body {
	background-color: black;
*/}

p {
	white-space: normal;
	align: center;
}

.main {
	position: absolute;
 	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	max-width: 95%
}

.lineOne {
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
}

.lineTwo {
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
}

.lineThree {
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	color: white;
}

.lineFour {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-left: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
  	animation:
    	blink-caret .25s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  	from, to { border-color: transparent }
  	50% { border-color: orange; }
}

#name a {
	color: #83BCED;
	text-decoration: none;
}

#facebook a {
	color: #3b5998;
	text-decoration: none;
}

#twitter a {
	color: #0084b4;
	text-decoration: none;
}

#github a {
	color: #6e5494;
	text-decoration: none;
}

#instagram a {
	color: #0077B5;
	text-decoration: none;
}

#flickr a {
	color: #0063DC;
	text-decoration: none;
}

#name {
	font-size: 125%;
	text-decoration: none;
}

#description {
	font-size: 70%;
	color: white;
}

#github {
	font-size: 70%;
}

#facebook {
	font-size: 70%;
}

#twitter {
	font-size: 70%;
}

#instagram {
	font-size: 70%;
}

#flickr {
	font-size: 70%;
}

#resume a {
	color: white;
	text-decoration: none;
}

#show, #show2, #resume {
	font-size: 70%;
	border: none;
	background-color: transparent;
	color: white;
	padding: 0px;
}

#show a {
	text-decoration: none;
	color: white;
}

#hide, #hide2 {
	font-size: 50%;
	border: none;
	background-color: transparent;
	color: white;
}

.lineThree a {
	color: gray;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
}

#skills {
	display: flex;
}

.column {
    flex: 50%;
}

#skillsIos, #skillsPy, #skillsHtml, #skillsPs, #skillsCpp, #skillsLr, #skillsPhoto, #skillsTeam, #skillsLead {
	width: 10%;
  height: 30px;
  background-color: #83BCED;
  text-align: center;
  line-height: 30px;
  color: white;
}
